.tilter {
	display: block;
	position: relative;
	width: 100%;
	color: #fff!important;
	flex: none;
	perspective: 1000px;
}

.tilter * {
	pointer-events: none;
}

.tilter:hover,
.tilter:focus {
	color: #fff!important;
	outline: none;
}


.tilter__figure,
.tilter__image {
	margin: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.tilter__figure > * {
	transform: translateZ(0px); /* Force correct stacking order */
}

.smooth .tilter__figure,
.smooth .tilter__deco--overlay,
.smooth .tilter__deco--lines,
.smooth .tilter__deco--shine div,
.smooth .tilter__caption {
	transition: transform 0.1s ease-out;
}

.tilter__figure {
	position: relative;
}

/*.tilter__figure::before {*/
	/*content: '';*/
	/*position: absolute;*/
	/*width: 50%;*/
	/*height: 50%;*/
	/*top: 5%;*/
	/*left: 5%;*/
	/*box-shadow: 0 30px 20px rgba(35,32,39,0.9);*/
/*}*/

.tilter__deco {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.tilter__deco--overlay {
	background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.4), rgba(145, 58, 252, 0.4), rgba(16, 11, 192, 0.4));
}

.tilter__deco--shine div {
	position: absolute;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
}

.tilter__deco--lines {
	fill: none;
	/*width: 90%;*/
	/*transform: rotateX();*/
	stroke: #fff;
	stroke-width: 3px;
	transition: stroke 1s;
}

.tilter:hover .tilter__deco--lines {
	stroke: #FCFF90;
}


.tilter__caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 2em;
}

.tilter__title {
	margin: 0;
	font-weight: normal;
	font-size: 2.5em;
	/*font-family: 'Abril Fatface', serif;*/
	font-family: 'RobotoCondensed Bold';
	line-height: 1;
}

.tilter__description {
	margin: 1em 0 0 0;
	font-size: 0.85em;
	letter-spacing: 0.15em;
}

.tilter--1 .tilter__figure::before {
	box-shadow: 0 30px 20px rgba(0,0,0,0.9);
}
